<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Boolzapp</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
        <!-- SEZIONE PRINCIPALE -->
        <div class="container d-flex" id="app">
            <!-- COLONNA SINISTRA -->
            <div class="col-left" id="chats">
                <!-- HEADER -->
                <header>
                    <div>
                        <img class="avatar avatar-io" src="./img/avatar_io.jpg" alt="avatar_io">
                    </div>
                    <div class="show-desk">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>
                <!-- NOTIFICHE -->
                <div class="notify show-desk align-center">
                    <div>
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="notify-on">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- RICERCA -->
                <div class="search-chat show-desk">
                    <div class="container-search d-flex">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input class="search-input" type="search" placeholder="Cerca o inizia una nuova chat" v-model="searchContact">
                    </div>
                </div>
                <!-- CHAT RECENTI -->
                <div class="recent-chats">
                    <ul>
                        <!-- TUTTE LE CHAT -->
                        <!-- UTILIZZANDO IL V-SHOW MOSTRO SOLO I CONTATTI CHE CONTENGONO IL CARATTERE DIGITATO -->
                        <li class="recent-chat d-flex align-center space-around" v-for="(contact, index) in contacts" v-show="contact.name.toLowerCase().includes(searchContact.toLowerCase())" @click="selectContact(index)">
                            <div>
                                <img class="avatar avatar-chats" :src="contact.avatar" :alt="contact.name">
                            </div>
                            <div class="show-desk">
                                <div class="chat-name">{{ contact.name }}</div>
                                <p class="status">{{ contact.messages[contact.messages.length - 1].message }}</p>
                            </div>
                            <div class="show-desk">
                                <p class="time">16:15</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- COLONNA DESTRA -->
            <div class="col-right" id="chat">
                <!-- INFO (RIGA SUPERIORE) -->
                <header>
                    <div class="chat-info d-flex align-center">
                        <div>
                            <img class="avatar chat-avatar" :src="contacts[currentContact].avatar" alt="avatar-selected"></img>
                        </div>
                        <div>
                            <div class="chat-name">{{ contacts[currentContact].name }}</div>
                            <p class="status">Ultimo accesso oggi alle 16:26</p>
                        </div>
                    </div>
                    <div class="chat-tools d-flex align-center show-tab">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>
                <!-- MESSAGGI -->
                <div id="messages">
                    <ul>
                        <!-- CREAZIONE DINAMICA MESSAGGI -->
                        <li v-for="mex in contacts[currentContact].messages">
                            <!-- ASSEGNAZIONE DINAMICA CLASSI MESSAGGIO -->
                            <div class="message" :class="{'user-message': mex.status === 'sent', 'received-message': mex.status === 'received'}">
                                <div class="content">
                                    <p class="text-message">
                                        {{ mex.message }}
                                    </p>
                                    <p class="time">16:13</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- FOOTER -->
                <footer>
                    <div class="show-tab">
                        <i class="fas fa-face-smile"></i>
                    </div>
                    <!-- AL CLICK SU ENTER INVIA IL MESSAGGIO -->
                    <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage">
                    <div class="show-tab">
                        <i class="fas fa-microphone"></i>
                    </div>
                </footer>
            </div>
        </div>

        <!-- VUE -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- JS -->
        <script src="./js/main.js"></script>
    </body>
</html>